In [2]:
import pandas as pd
data = pd.read_csv("RandData1.csv")
data

,Age,Gender,Place of Stay,Relationship status,No of dependents,Monthly pocketmoney,Monthly exp on transport,Monthly exp on food,Monthly exp on education,notable investments,...,how often do you make impulse purchases?,"do you currently invest in any financial products like stocks,mutual funds or cryptocurrencies",how comfortable are you with taking financial risk in your investments,Do you use any mobile apps or online platforms to manage your finances and investments,Expenses on fresh groceries and whole foods.,expenses on online takeout,expenditure on medicine,expenses on outings,tax payments,what types of food do u spen money on
0,21,0,1,0,5,10000,8000,4200,2100,1100,...,2,0,0,1,1400,2900,500,10000,1000,5
1,21,0,0,0,1,8000,5800,3700,1900,1300,...,1,0,0,0,200,1900,400,10000,3000,4
2,21,0,0,0,4,9000,2500,800,1800,2800,...,1,1,0,1,500,3600,500,4000,3000,4
3,22,1,0,1,1,5000,3100,200,1200,2100,...,1,0,0,1,600,3500,2300,7000,2000,5
4,19,0,0,2,3,7000,3400,4400,1500,2300,...,0,1,1,1,200,2100,2400,4000,5000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,21,1,0,1,4,4000,6300,2300,2300,800,...,1,1,1,1,1200,2600,2600,1000,3000,2
195,19,1,1,1,4,4000,4500,4700,1100,0,...,1,0,1,1,1000,600,1700,5000,0,3
196,21,1,0,1,5,8000,100,3200,100,2000,...,1,0,0,0,500,1100,300,0,4000,3
197,22,1,0,1,5,4000,7900,1100,900,1300,...,1,1,0,0,1500,1700,300,2000,2000,3
198,21,1,0,0,1,5000,3900,2800,800,2100,...,2,1,0,0,500,3000,300,6000,2000,5

In [3]:
data[['Age','Gender','how often do u dine out?','expenditure on medicine','what types of food do u spen money on']]

,Age,Gender,how often do u dine out?,expenditure on medicine,what types of food do u spen money on
0,21,0,1,500,5
1,21,0,0,400,4
2,21,0,0,500,4
3,22,1,0,2300,5
4,19,0,1,2400,4
...,...,...,...,...,...
194,21,1,1,2600,2
195,19,1,1,1700,3
196,21,1,2,300,3
197,22,1,1,300,3
198,21,1,2,300,5

In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,accuracy_score,r2_score

In [5]:
def health_score(row):
    score = 0
    # Higher expenditure on medicine lowers the health score
    score -= row['expenditure on medicine'] / 100
    # Dining out frequently lowers the health score
    score -= row['how often do u dine out?']
    
    # Types of food impact on health score
    food_type = row['what types of food do u spen money on']
    if food_type == 1:  # Western fast food
        score -= 5
    elif food_type == 2:  # Chinese / Continental
        score -= 3
    elif food_type == 3:  # Indian
        score += 1
    elif food_type == 4:  # Salads & healthy snacks
        score += 10
    elif food_type == 5:  # Packaged foods / Processed foods
        score -= 7
    
    return score

In [6]:
data['health_score'] = data.apply(health_score, axis=1)

In [7]:
scaler = StandardScaler()
numerical_features = scaler.fit_transform(data[['Age', 'how often do u dine out?', 'expenditure on medicine', 'what types of food do u spen money on']])

In [8]:
X = np.hstack((numerical_features, data[['Gender']].values))

In [9]:
y = data['health_score']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
print(X_test)

[[ 1.28911131  1.24687108 -0.13269726  0.64581018  0.        ]
 [ 0.41357155  0.          1.07259031 -0.83992654  0.        ]
 [ 0.41357155  1.24687108  1.5108767   0.64581018  1.        ]
 [-1.33750798  0.          0.41516072 -0.09705818  1.        ]
 [-0.46196822  0.          1.62044829  1.38867854  0.        ]
 [-1.33750798  0.         -0.89969844 -1.5827949   1.        ]
 [ 1.28911131  0.         -1.22841323 -1.5827949   0.        ]
 [ 1.28911131  0.         -0.35184046 -0.83992654  0.        ]
 [-1.33750798  0.          1.5108767   1.38867854  0.        ]
 [-0.46196822  1.24687108 -1.33798483 -1.5827949   1.        ]
 [ 0.41357155 -1.24687108 -1.00927004 -0.09705818  0.        ]
 [ 1.28911131  0.          1.62044829  0.64581018  1.        ]
 [ 1.28911131 -1.24687108 -1.11884164  1.38867854  0.        ]
 [-0.46196822  0.          1.2917335   0.64581018  1.        ]
 [ 1.28911131  1.24687108 -0.13269726 -0.09705818  0.        ]
 [ 1.28911131  1.24687108  0.63430392 -0.83992654  1.        ]
 [ 1.28911131  0.          1.2917335  -0.09705818  1.        ]
 [ 0.41357155  0.          0.96301871 -0.09705818  1.        ]
 [-1.33750798  0.         -1.33798483 -1.5827949   0.        ]
 [ 0.41357155 -1.24687108 -0.79012684 -0.09705818  1.        ]
 [-0.46196822  1.24687108 -1.22841323 -1.5827949   1.        ]
 [-1.33750798  1.24687108  0.41516072  1.38867854  1.        ]
 [-1.33750798  0.          0.41516072  1.38867854  0.        ]
 [-0.46196822  0.         -0.89969844 -0.09705818  1.        ]
 [-0.46196822  1.24687108 -0.13269726 -0.83992654  0.        ]
 [-0.46196822  0.         -0.57098365  1.38867854  0.        ]
 [ 1.28911131 -1.24687108 -1.66669962  0.64581018  1.        ]
 [ 0.41357155 -1.24687108 -1.55712802 -0.09705818  0.        ]
 [ 1.28911131 -1.24687108 -0.35184046  0.64581018  0.        ]
 [ 1.28911131  1.24687108  0.74387552 -0.83992654  0.        ]
 [ 0.41357155  0.          0.52473232  0.64581018  0.        ]
 [-1.33750798  1.24687108 -0.02312566  0.64581018  1.        ]
 [ 1.28911131  1.24687108 -1.55712802 -0.83992654  1.        ]
 [-1.33750798  0.         -0.68055525 -0.09705818  0.        ]
 [-1.33750798  0.         -0.46141205 -1.5827949   1.        ]
 [-0.46196822 -1.24687108  1.4013051   0.64581018  0.        ]
 [ 1.28911131 -1.24687108  1.2917335  -0.83992654  0.        ]
 [ 1.28911131 -1.24687108  1.62044829 -0.09705818  1.        ]
 [ 1.28911131  1.24687108  1.2917335   0.64581018  1.        ]
 [ 1.28911131  1.24687108 -1.44755643  0.64581018  1.        ]]

In [11]:
X_test.shape

(40, 5)

In [62]:
type(X_test)

numpy.ndarray

In [27]:
data

,Age,Gender,Place of Stay,Relationship status,No of dependents,Monthly pocketmoney,Monthly exp on transport,Monthly exp on food,Monthly exp on education,notable investments,...,"do you currently invest in any financial products like stocks,mutual funds or cryptocurrencies",how comfortable are you with taking financial risk in your investments,Do you use any mobile apps or online platforms to manage your finances and investments,Expenses on fresh groceries and whole foods.,expenses on online takeout,expenditure on medicine,expenses on outings,tax payments,what types of food do u spen money on,health_score
0,21,0,1,0,5,10000,8000,4200,2100,1100,...,0,0,1,1400,2900,500,10000,1000,5,-13.0
1,21,0,0,0,1,8000,5800,3700,1900,1300,...,0,0,0,200,1900,400,10000,3000,4,6.0
2,21,0,0,0,4,9000,2500,800,1800,2800,...,1,0,1,500,3600,500,4000,3000,4,5.0
3,22,1,0,1,1,5000,3100,200,1200,2100,...,0,0,1,600,3500,2300,7000,2000,5,-30.0
4,19,0,0,2,3,7000,3400,4400,1500,2300,...,1,1,1,200,2100,2400,4000,5000,4,-15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,21,1,0,1,4,4000,6300,2300,2300,800,...,1,1,1,1200,2600,2600,1000,3000,2,-30.0
195,19,1,1,1,4,4000,4500,4700,1100,0,...,0,1,1,1000,600,1700,5000,0,3,-17.0
196,21,1,0,1,5,8000,100,3200,100,2000,...,0,0,0,500,1100,300,0,4000,3,-4.0
197,22,1,0,1,5,4000,7900,1100,900,1300,...,1,0,0,1500,1700,300,2000,2000,3,-3.0
198,21,1,0,0,1,5000,3900,2800,800,2100,...,1,0,0,500,3000,300,6000,2000,5,-12.0

In [21]:
model = RandomForestRegressor()
model.fit(X_train, y_train)

RandomForestRegressor()

In [22]:
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

# Analyze feature importance
feature_importances = model.feature_importances_
print(f'Feature Importances: {feature_importances}')

Mean Squared Error: 1.6115424999999999
Feature Importances: [0.00564404 0.00451943 0.75811329 0.22995821 0.00176502]

In [26]:
print(r2_score(y_test,y_pred))

0.9861085897767434

In [28]:
data['health_score']

0     -13.0
1       6.0
2       5.0
3     -30.0
4     -15.0
       ...
194   -30.0
195   -17.0
196    -4.0
197    -3.0
198   -12.0
Name: health_score, Length: 199, dtype: float64

In [30]:
data['health_score'].to_csv('health.csv')

In [31]:
data['health_score'].mean()

-16.020100502512562

In [32]:
data['health_score'].max()

10.0

In [34]:
min_value = data['health_score'].min()
min_value

-38.0

In [35]:
import joblib

joblib.dump(model,'Health.pkl')

['Health.pkl']

In [1]:
import joblib
health_model = joblib.load("Health.pkl")
health_model

RandomForestRegressor()

In [40]:
new_data_input = {
    'Age': [30],
    'Gender': [1],
    'Place of Stay': [0],
    'Relationship status': [0],
    'No of dependents': [2],
    'Monthly pocketmoney': [3000],
    'Monthly exp on transport': [200],
    'Monthly exp on food': [400],
    'Monthly exp on education': [300],
    'notable investments': [1500],
    'Recurring monthly payments(Subscriptions, plans ,recharge etc.)': [100],
    'Debt': [2000],
    'Monthly savings': [500],
    'Financial goals': [10000],
    'Do you follow a monthly budget ?': [0],
    'how often do u dine out?': [1],
    'how often do you make impulse purchases?': [1],
    'do you currently invest in any financial products like stocks,mutual funds or cryptocurrencies': [1],
    'how comfortable are you with taking financial risk in your investments': [1],
    'Do you use any mobile apps or online platforms to manage your finances and investments': [1],
    'Expenses on fresh groceries and whole foods.': [150],
    'expenses on online takeout': [50],
    'expenditure on medicine': [20],
    'expenses on outings': [100],
    'tax payments': [500],
    'what types of food do u spen money on': [4]
}

print(new_data_input)

{'Age': [30], 'Gender': [1], 'Place of Stay': [0], 'Relationship status': [0], 'No of dependents': [2], 'Monthly pocketmoney': [3000], 'Monthly exp on transport': [200], 'Monthly exp on food': [400], 'Monthly exp on education': [300], 'notable investments': [1500], 'Recurring monthly payments(Subscriptions, plans ,recharge etc.)': [100], 'Debt': [2000], 'Monthly savings': [500], 'Financial goals': [10000], 'Do you follow a monthly budget ?': [0], 'how often do u dine out?': [1], 'how often do you make impulse purchases?': [1], 'do you currently invest in any financial products like stocks,mutual funds or cryptocurrencies': [1], 'how comfortable are you with taking financial risk in your investments': [1], 'Do you use any mobile apps or online platforms to manage your finances and investments': [1], 'Expenses on fresh groceries and whole foods.': [150], 'expenses on online takeout': [50], 'expenditure on medicine': [20], 'expenses on outings': [100], 'tax payments': [500], 'what types of food do u spen money on': [4]}

In [51]:
filtered_data_input = {
    'Age': new_data_input['Age'],
    'how often do u dine out?': new_data_input['how often do u dine out?'],
    'expenditure on medicine': new_data_input['expenditure on medicine'],
    'what types of food do u spen money on': new_data_input['what types of food do u spen money on'],
    'Gender': new_data_input['Gender']
}

In [52]:
filtered_data_input

{'Age': [30],
 'how often do u dine out?': [1],
 'expenditure on medicine': [20],
 'what types of food do u spen money on': [4],
 'Gender': [1]}

In [55]:
health_data = pd.DataFrame(filtered_data_input)

In [58]:
health_data

,Age,how often do u dine out?,expenditure on medicine,what types of food do u spen money on,Gender
0,30,1,20,4,1

In [57]:
health_data.shape

(1, 5)

In [64]:
health_data_array = health_data.to_numpy()
health_data_array

array([[30,  1, 20,  4,  1]], dtype=int64)

In [65]:
type(health_data_array)

numpy.ndarray

In [69]:
result = health_model.predict(health_data_array)

In [70]:
print(result)

[-36.04]

In [71]:
if result >= 7:
    health_prediction = "Very Healthy"
elif result >= 0:
    health_prediction = "Healthy"
elif result >= -10:
    health_prediction = "Fairly Healthy"
elif result >= -20:
    health_prediction = "Average"
elif result >= -30:
    health_prediction = "Unhealthy"
else:
    health_prediction = "Very Unhealthy"

print(health_prediction)

Very Unhealthy

In [13]:
y_pred = health_model.predict(X_test)
y_pred

array([ -6.57, -29.72, -20.21, -19.08, -36.33, -13.51,  -8.8 , -15.6 ,
       -36.52,  -8.81,  -7.78, -20.52, -13.07, -18.42, -14.37, -25.32,
       -26.54, -25.27,  -8.14,  -8.11,  -9.64, -27.35, -27.7 ,  -8.95,
       -17.66, -17.14,   8.28,  -3.17,  -3.13, -27.02, -14.25,  -7.93,
        -5.64, -10.64, -15.18, -19.12, -29.99, -28.38, -18.59,   5.92])